.f1{
    font-family: Arial;
}

.f2{
    font-family: Verdana;
}

.f3{
    font-family: Tahoma;
}

.f4{
    font-family: Georgia;
}

.f5{
    font-family: "Times New Roman";
}

.f6{
    font-family: "Courier New";
}

.f7{
    font-family: Garamond;
}

.f8{
    font-family: "Trebuchet MS";
}

.f9{
    font-family: Impact;
}

.f10{
    font-family: "Comic Sans MS";
}